# ==========================================
# PYTHON
# ==========================================

__pycache__/
*.py[cod]
*$py.class

build/
dist/
*.egg-info/
*.egg

# ==========================================
# VIRTUAL ENV
# ==========================================

.venv/
venv/
env/

# ==========================================
# ENV FILES / SECRETS
# ==========================================

.env

# ==========================================
# ROBOT FRAMEWORK REPORTS
# ==========================================

reports/
log.html
report.html
output.xml

# ==========================================
# SCREENSHOTS
# ==========================================

screenshots/
*.png

# ==========================================
# PYTEST / CACHE
# ==========================================

.pytest_cache/
.cache/

# ==========================================
# IDE
# ==========================================

.vscode/
.idea/

# ==========================================
# OS FILES
# ==========================================

.DS_Store
Thumbs.db

# ==========================================
# MISC
# ==========================================

*.log